.eighth-container{
    background-color: #E8E8E8E8;
    padding: 1.5vw;
    margin: 4vw;
}
.right-flex-box{
     /* box-shadow: 5px 10px 5px 10px #E8E8E8E8; */
    padding: 1vh;
}
.flex-box{
    display: flex;
    justify-content: space-evenly;
}
.bottomimage{
    height: 20vh;
    width: auto;
}

.tm{
    margin-bottom: 2vh;
}
.review-box{
    padding: 0.2vw;
    height: auto;
    width: 20vw;
    box-shadow: 5px 10px 5px 10px #E8E8E8E8;
}
.text3{
    font-size: 1.5vh;
}
.reviews{
    margin-bottom: 10vh;
}
.review{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2vh;
}
.oyebusy{
    display: flex;
    justify-content: center;
}
.oyebusylogo{
    height: 20vh;
    width: 20vw;
}
.temp{
    margin-top: 8vh;
}
.footer{
    background-color: grey;
    color: white;
    padding: 2vw;
}
.icare{
    display:flex;
    justify-content: space-evenly;
}
.econ{
    font-size: 2vw ;
}