.first-container{
    margin-top:0.6vh;
}
.text1{
    font-size: 1.5vw;
    margin-bottom: 4vh;
}
.first-images{
    display: flex;
    justify-content:space-evenly;
}
.box
{
    height: 20vh;
    width: 10vw;
    box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh #E8E8E8E8;
}
.abc{
    height: 23vh;
    width: 12vw;
    box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh #E8E8E8E8;
}
.second-container{
    margin-top: 3vh;
    margin-bottom: 6vh;
}
.third-container{
    background-color: #E8E8E8E8;
    height: 30vh;
    width: 70vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 3vh;
}
.list{
    list-style:none;
    /* background-color: black; */
    color: black;
}
.min-box{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.himge{
    height:18vh ;
    width: 18vw;
}