.last{
    font-size: 13vh;
}

.fourth-container{
    margin-bottom: 4vh;
}
.rectangle-box{
    height: 12vh;
    width: 12vw;
    border-radius: 20px;
    background-image: linear-gradient(#A71D31,#30060c);
}
.rectangle-boxes{
    display: flex;
    justify-content: space-evenly;
}

.fifth-container{
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;

}
.icons{
    height: fit-content;
    width: auto;
    padding: 3vh;
    border: 1.5vh solid goldenrod;
    border-radius: 50%;
}
.boxer{
    display: flex;
    height: auto;
    width: auto;
    margin: 1rem;
}
.text2{
    font-size: 1vw;
    margin-top: 8vh;
}
.boxers{
    height: 13vh;
    width: 9vw;
    padding-bottom: 1vh;
    padding-right: 1vh;
    padding-left: 1vh;
    box-shadow: 0.5vh 1vh 0.5vh 1vh #E8E8E8E8;
}
/* .icons{
    height: 100rem;
    width:auto ;
    border-radius: 50%;
    border: 12px solix greenyellow;
} */
.beek{
    margin: -3vh;
}
.beek1{
    margin-top: 4vh;

}

.sixth-container{
    width: 100%;
    height: auto;
    background-color: #f3a10a;
    margin-bottom: 8vh;
    padding: 1rem;
}

.button{
    border-radius: 50px;
    border: 2px solid red;
    color: red;
    padding: 1vh;
}

.text4{
    font-size: 2vh;
}


