
.navbar {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.4rem;
}

.icon {
    font-size: 1rem;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.4rem;
}

.icon {
    font-size: 1rem;
}
