.services{
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto auto;
    margin-bottom: 15rem;
    column-gap: 5rem;
}
.boxers1{
    height: 40rem;
    width: 30rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    box-shadow: 5px 10px 5px 10px #E8E8E8E8;
}
.icons1{
    font-size: 5rem;
}